.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	color: inherit;
	}
	.panel-heading.panel-bg, ui-menu .ui-menu-item a:hover, table.manage-table.resumes th:first-child {
	background-color: #ff3434;
	color: white;
	border-radius: 3px !important;
	border: 1px solid rgba(204, 204, 204, 0.51) !important;
	}
	.panel {
	
	border:0px;
	}
	.select2-container--default .select2-selection--multiple {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 0px;
	padding:0px 3px !important;
	cursor: text;
	position: relative;
	top: -9px;
	border-radius: 3px!important;
	}
	.select2-container .select2-selection--multiple {
	margin-top: 18px;
	}
	.fake-input, input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
	margin-bottom:8px;
	}
	.chosen-container {
	margin-bottom:8px;
	}