.pagination ul li a[rel="start"] {
    width: 70px;
}
.ui-autocomplete-loading
{
	width:100% !important;
}
.tokenfield .token
{
	height:30px !important;
}
.carousel-control
{
	color:#000000 !important;	
	width:5% !important;
}
.tokenfield.token
{
	float:left !important;
}
.tokenfield.token-input
{
	float:left !important;
	width:auto !important;
}
.like-img {
    width: auto !important;
    position: relative;
    top: -2px;
}
.new-form-control
{
	
	/*background: #fff url("../images/ico-02.png") no-repeat scroll 96% 20px / 14px 21px !important;*/
	background: #fff  !important;
	/* border: medium none !important; */
    border: 1px solid #e0e0e0;
    box-sizing: border-box !important;
    float: left !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-right: 2% !important;
    padding: 16px 15px !important;
    width: 44.5%;
}
@media only screen and (min-width: 1290px) and (max-width: 2000px){
	.search-container { padding: 150px 0;  }
	.new-form-control { width: 44.5%; background-position: 95% 20px;  }
}

@media only screen and (min-width: 990px) and (max-width: 1289px) {
	
	.search-container { padding: 150px 0;!important }
	.new-form-control { width: 43%; background-position: 95.5% 20px; !important}
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
	.search-container { padding: 100px 0;  }
	.new-form-control { width: 43% ; background-position: 95% 20px; !important  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.search-container { padding: 100px 0;  }
	.new-form-control { width: 100% !important; margin:0px 0px 10px 0; background-position: 95% 20px; !important  }
}
@media only screen and (max-width: 479px){
	.search-container { padding: 100px 0;  }
	.new-form-control { width: 100% !important; margin:0px 0px 10px 0; background-position: 95% 20px; !important  }
}
.new-full-time{
	color: white !important;
    font-weight: bold;
    padding: 5px;
}
.new-full-time-high{
	color: white !important;
    font-weight: bold;
    padding: 0px 4px;
}

.new-form-control {
    width:100% !important;
	border-radius: 7px;
	position: relative;
    right:39px;
	margin-bottom: 20px;
}
.tokenfield .token .token-label {
    
    padding-top: 3px;
}
.text-align-mobile{
	
	float:none !important;
	text-align: justify !important;
}
.tokenfield .token {
	font-size: 14px;
    font-weight: normal;
}
.search-container h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.browse-jobs {
	color: #dad8d8;
    margin-top: -26px;
	position: relative;
    right: 33px;
}
.search-container input {
    font-weight: normal;
	font-size: 13px;
}
.tokenfield .token-input {
	margin-bottom:0 !important;
}
.search-container {
	
    padding: 33px 2px !important; 
    margin-top: 45px;
    margin-top: 0px;
}