﻿/*
	* Based on Skeleton by Dave Gamache (www.getskeleton.com)
	* Modified by Vasterad
*/


/* Table of Contents
	==================================================
    #Base (1180 Grid)
    #Desktop (960 Grid)
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
#Clearing */


/* #Base (1180 Grid)
================================================== */

.container                                  { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 55px;  }
.container .two.columns                     { width: 130px; }
.container .three.columns                   { width: 205px; }
.container .four.columns                    { width: 280px; }
.container .five.columns                    { width: 355px; }
.container .six.columns                     { width: 430px; }
.container .seven.columns                   { width: 505px; }
.container .eight.columns                   { width: 580px; }
.container .nine.columns                    { width: 655px; }
.container .ten.columns                     { width: 730px; }
.container .eleven.columns                  { width: 805px; }
.container .twelve.columns                  { width: 880px; }
.container .thirteen.columns                { width: 955px; }
.container .fourteen.columns                { width: 1030px; }
.container .fifteen.columns                 { width: 1105px; }
.container .sixteen.columns                 { width: 1180px; }

.container .one-third.column                { width: 380px; }
.container .two-thirds.column               { width: 780px; }

body.boxed                                  { width: 1340px; }

@media only screen and (min-width: 1289px) and (max-width: 1360px) {
	body.boxed { width: 100%; }
}


/* #Dekstop (960 Grid)
================================================== */

/* Note: Design for a width of 960px */

@media only screen and (min-width: 960px) and (max-width: 1289px) {
	.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.container .column,
	.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.row                                        { margin-bottom: 20px; }
	
	/* Nested Column Classes */
	.column.alpha, .columns.alpha               { margin-left: 0; }
	.column.omega, .columns.omega               { margin-right: 0; }
	
	/* Base Grid */
	.container .one.column,
	.container .one.columns                     { width: 40px;  }
	.container .two.columns                     { width: 100px; }
	.container .three.columns                   { width: 160px; }
	.container .four.columns                    { width: 220px; }
	.container .five.columns                    { width: 280px; }
	.container .six.columns                     { width: 340px; }
	.container .seven.columns                   { width: 400px; }
	.container .eight.columns                   { width: 460px; }
	.container .nine.columns                    { width: 520px; }
	.container .ten.columns                     { width: 580px; }
	.container .eleven.columns                  { width: 640px; }
	.container .twelve.columns                  { width: 700px; }
	.container .thirteen.columns                { width: 760px; }
	.container .fourteen.columns                { width: 820px; }
	.container .fifteen.columns                 { width: 880px; }
	.container .sixteen.columns                 { width: 940px; }
	
	.container .one-third.column                { width: 300px; }
	.container .two-thirds.column               { width: 620px; }
	
	body.boxed { width: 1060px; }
	
}

@media only screen and (max-width: 1080px) {
	body.boxed { width: 100%; }
}


/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 990px) {
	.container                                  { width: 768px; }
	.container .column,
	.container .columns                         { margin-left: 10px; margin-right: 10px;  }
	.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
	.alpha.omega                                { margin-left: 0; margin-right: 0; }
	
	.container .one.column,
	.container .one.columns                     { width: 28px; }
	.container .two.columns                     { width: 76px; }
	.container .three.columns                   { width: 124px; }
	.container .four.columns                    { width: 172px; }
	.container .five.columns                    { width: 220px; }
	.container .six.columns                     { width: 268px; }
	.container .seven.columns                   { width: 316px; }
	.container .eight.columns                   { width: 364px; }
	.container .nine.columns                    { width: 412px; }
	.container .ten.columns                     { width: 460px; }
	.container .eleven.columns                  { width: 508px; }
	.container .twelve.columns                  { width: 556px; }
	.container .thirteen.columns                { width: 604px; }
	.container .fourteen.columns                { width: 652px; }
	.container .fifteen.columns                 { width: 700px; }
	.container .sixteen.columns                 { width: 748px; }
	
	.container .one-third.column                { width: 236px; }
	.container .two-thirds.column               { width: 492px; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
	.container { width: 300px; }
	.container .columns,
	.container .column { margin: 0; }
	
	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column,
	.container .twelve.sidebar-right.columns,
	.container .twelve.sidebar-left.columns,
	.container .five.sidebar-right.columns,
	.container .eleven.sidebar-right.columns { width: 300px; }
	
}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container { width: 420px; }
	.container .columns,
	.container .column { margin: 0; }
	
	.container .one.column,
	.container .one.columns,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column,
	.container .twelve.sidebar-right.columns,
	.container .twelve.sidebar-left.columns,
	.container .five.sidebar-right.columns,
	.container .eleven.sidebar-right.columns { width: 420px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
height: 0; }
.row:after,
.clearfix:after {
clear: both; }
.row,
.clearfix {
zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}



/****** Responsive Css *********/


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	.btn-job-new {
	    margin-bottom: 12px !important;
	}
	.social-iocn-5 {
		width: 100%!important;
		float: left!important;
	}
	.new-browse-m-t{
	    margin-top: 20px!important;
	}
	.box-main {
		padding: 0px 30px!important;
	}	
	.new-margin-col {
		margin: 0px !important;
		padding-right: 15px!important;
		padding-left: 15px!important;
		text-align:left!important;
	}
	.button-mobile-new{
		height: 32px;
		float: left!important;
	}
	.pull-left-m{
		float: left !important;
	}
	.text-align-mobile{
		margin-top: -13px!important;
	    text-align: justify!important;
	}
	.pagination-v1 > li > a, .pagination-v1 > li > span {
		margin-right: 4px!important;
		padding: 8px 14px !important;
	}
	.m-k-g-s{
		width:100%!important;
		margin-top: 10px;
		padding: 10px 10px;
	}
	.job-hr {
		margin-top: 0!important;
	}
	.r-1-img {
	    width: 100%!important;
		height: auto!important;
	}
	.new-p-job-new p {
		margin: 7px 0 5px 0!important;
		position: relative!important;
		left: 9px!important;
	}
	.job-box-img-2 {
		width: 68px!important;
	}
	.apply-hr {
	 margin: 10px 0 0px!important;
	}
	.job-h-img {
	    top: 4px!important;
	}
	.share {
    position: relative;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
}
.social-icons-2 li {
	top: -34px!important;
}
.new-form-control {
	    right: 0px !important;
}
.padding-browse-2 {
	position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.padding-browse{
	position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.new-button-t {
    width: 100%!important;
    border-radius: 7px;
    right:0px !important;
}
header{
	height:auto!important;
	max-height:unset!important;
}
#popular-categories div button {
    width: 50%!important;
    display: inline-block!important;
    float: left!important;
   margin: 0px 0 0 -1px!important;
}
#banner{
	height: auto!important;
    max-height: unset!important;
}
.browse-jobs {
    color: #ffffff!important;
    margin-top: 0!important;
    position: relative!important;
    right: 0!important;
}
}

@media only screen and (max-width : 320px) {
	.browse-jobs {
    color: #ffffff!important;
    margin-top: 0!important;
    position: relative!important;
    right: 0!important;
}
	#banner{
	height: auto!important;
    max-height: unset!important;
}
	
	#popular-categories div button {
    width: 50%!important;
    display: inline-block!important;
    float: left!important;
   margin: 0px 0 0 -1px!important;
}
	
	header{
	height:auto!important;
	max-height:unset!important;
}
	
	.btn-job-new {
	    margin-bottom: 12px!important;
	}
	.social-iocn-5 {
		width: 100%!important;
		float: left!important;
	}
	.new-browse-m-t{
	    margin-top: 20px!important;
	}
	.box-main {
		padding: 0px 30px!important;
	}
	.new-margin-col {
		margin: 0px !important;
		padding-right: 15px!important;
		padding-left: 15px!important;
		text-align:left!important;
	}
	.button-mobile-new{
		height: 32px;
		float: left!important;
	}
	.pull-left-m{
		float: left !important;
	}
	.text-align-mobile{
		margin-top: -13px!important;
	    text-align: justify!important;
		
	}
	.pagination-v1 > li > a, .pagination-v1 > li > span {
		margin-right: 4px!important;
		padding: 8px 14px !important;
	}
	.m-k-g-s{
		width:100%!important;
		margin-top: 10px;
		padding: 10px 10px;
	}
	.job-hr {
		margin-top: 0!important;
		padding: 10px 10px;
	}
	.r-1-img {
	    width: 100%!important;
		height: auto!important;
	}
	.new-p-job-new p {
		margin: 7px 0 5px 0!important;
		position: relative!important;
		left: 9px!important;
	}
	.job-box-img-2 {
		width: 68px!important;
	}
	.apply-hr {
	 margin: 10px 0 0px!important;
	}
	.job-h-img {
	    top: 4px!important;
	}
	.social-icons-2 li {
	top: -34px!important;
}
.new-form-control {
	    right: 0px !important;
}
.padding-browse-2 {
	position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.padding-browse{
	position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.new-button-t {
    width: 100%!important;
    border-radius: 7px;
    right:0px!important;
}
}
/****** Responsive Css *********/


