.new-full-time{
	color: white;
    font-weight: bold;
    padding: 5px;
	}
	.tokenfield .token-input {
	height: 22px !important;
	
	}
	.tokenfield{
	box-shadow: 0 1px 7px 0px rgba(0,0,0,.075)!important;
    border: 1px solid rgba(204, 204, 204, 0.62)!important;
    border-radius: 2px!important;
	}