#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #26ae61; }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #0c6aca; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #0c6aca; }

.icon-box.rounded i {
  border-color: #0c6aca; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(12, 106, 202, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(12, 106, 202, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(12, 106, 202, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(12, 106, 202, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(12, 106, 202, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(12, 106, 202, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(12, 106, 202, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(12, 106, 202, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #fa5b0f; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #fa5b0f; }

.icon-box.rounded i {
  border-color: #fa5b0f; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(250, 91, 15, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(250, 91, 15, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(250, 91, 15, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(250, 91, 15, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(250, 91, 15, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(250, 91, 15, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(250, 91, 15, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(250, 91, 15, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #495d7f; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #495d7f; }

.icon-box.rounded i {
  border-color: #495d7f; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(73, 93, 127, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(73, 93, 127, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(73, 93, 127, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(73, 93, 127, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(73, 93, 127, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(73, 93, 127, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(73, 93, 127, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(73, 93, 127, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #ffb400; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #ffb400; }

.icon-box.rounded i {
  border-color: #ffb400; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 180, 0, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 180, 0, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(255, 180, 0, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 180, 0, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 180, 0, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(255, 180, 0, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(255, 180, 0, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(255, 180, 0, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #fcab55; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #fcab55; }

.icon-box.rounded i {
  border-color: #fcab55; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(252, 171, 85, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(252, 171, 85, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(252, 171, 85, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(252, 171, 85, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(252, 171, 85, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(252, 171, 85, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(252, 171, 85, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(252, 171, 85, 0.05); }

/* CSS Document */
#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #bfa980; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #bfa980; }

.icon-box.rounded i {
  border-color: #bfa980; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(191, 169, 128, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(191, 169, 128, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(191, 169, 128, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(191, 169, 128, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(191, 169, 128, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(191, 169, 128, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(191, 169, 128, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(191, 169, 128, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #6957af; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #6957af; }

.icon-box.rounded i {
  border-color: #6957af; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(105, 87, 175, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(105, 87, 175, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(105, 87, 175, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(105, 87, 175, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(105, 87, 175, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(105, 87, 175, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(105, 87, 175, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(105, 87, 175, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #74aea1; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #74aea1; }

.icon-box.rounded i {
  border-color: #74aea1; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(116, 174, 161, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(116, 174, 161, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(116, 174, 161, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(116, 174, 161, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(116, 174, 161, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(116, 174, 161, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(116, 174, 161, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(116, 174, 161, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #c71c77; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #c71c77; }

.icon-box.rounded i {
  border-color: #c71c77; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(199, 28, 119, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(199, 28, 119, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(199, 28, 119, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(199, 28, 119, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(199, 28, 119, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(199, 28, 119, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(199, 28, 119, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(199, 28, 119, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #e32b2b; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #e32b2b; }

.icon-box.rounded i {
  border-color: #e32b2b; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(227, 43, 43, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(227, 43, 43, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(227, 43, 43, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(227, 43, 43, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(227, 43, 43, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(227, 43, 43, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(227, 43, 43, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(227, 43, 43, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #784e3d; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #784e3d; }

.icon-box.rounded i {
  border-color: #784e3d; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(120, 78, 61, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(120, 78, 61, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(120, 78, 61, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(120, 78, 61, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(120, 78, 61, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(120, 78, 61, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(120, 78, 61, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(120, 78, 61, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #911938; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #911938; }

.icon-box.rounded i {
  border-color: #911938; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(145, 25, 56, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(145, 25, 56, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(145, 25, 56, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(145, 25, 56, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(145, 25, 56, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(145, 25, 56, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(145, 25, 56, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(145, 25, 56, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #37b6bd; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #37b6bd; }

.icon-box.rounded i {
  border-color: #37b6bd; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(55, 182, 189, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(55, 182, 189, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(55, 182, 189, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(55, 182, 189, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(55, 182, 189, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(55, 182, 189, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(55, 182, 189, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(55, 182, 189, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #505050; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #505050; }

.icon-box.rounded i {
  border-color: #505050; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(80, 80, 80, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(80, 80, 80, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(80, 80, 80, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(80, 80, 80, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(80, 80, 80, 0.05); }

#current, .icon-box.rounded i:after, a.button.gray.app-link.opened, ul.float-right li a:hover, .menu ul li.sfHover a.sf-with-ul, .menu ul li a:hover, a.menu-trigger:hover, #jPanelMenu-menu li a:hover, .search-container button, .upload-btn, button, input[type="button"], input[type="submit"], a.button, .upload-btn:hover, #titlebar.photo-bg a.button.white:hover, a.button.dark:hover, #backtotop a:hover, .mfp-close:hover, .tabs-nav li.active a, .ui-accordion .ui-accordion-header-active:hover, .ui-accordion .ui-accordion-header-active, .highlight.color, .plan.color-2 .plan-price, .plan.color-2 a.button, .tp-leftarrow:hover, .tp-rightarrow:hover, .pagination ul li a.current-page, .pagination .current, .pagination ul li a:hover, .pagination-next-prev ul li a:hover, .infobox, .hover-icon, .comment-by a.reply:hover, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .list-search button, .checkboxes input[type=checkbox]:checked + label:before {
  background-color: #b3c211; }

a, table td.title a:hover, .icon-box.rounded i, table.manage-table td.action a:hover, #breadcrumbs ul li a:hover, #titlebar span.icons a:hover, .counter-box i, .counter, #popular-categories li a i, .list-1 li:before, .dropcap, .resume-titlebar span a:hover i, .resumes-list-content h4, .job-overview ul li i, .company-info span a:hover, .infobox a:hover, .meta-tags span a:hover, .widget-text h5 a:hover, .app-content .info span, .app-content .info ul li a:hover {
  color: #b3c211; }

.icon-box.rounded i {
  border-color: #b3c211; }

.resumes-list li a:before, .job-list li a:before, table.manage-table tr:before {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(179, 194, 17, 0.7);
  -moz-box-shadow: 0px 1px 0px 0px rgba(179, 194, 17, 0.7);
  box-shadow: 0px 1px 0px 0px rgba(179, 194, 17, 0.7); }

#popular-categories li a:before {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(179, 194, 17, 0.7);
  -moz-box-shadow: 0px 0px 0px 1px rgba(179, 194, 17, 0.7);
  box-shadow: 0px 0px 0px 1px rgba(179, 194, 17, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover {
  border-color: rgba(179, 194, 17, 0.7); }

table.manage-table tr:hover td, .resumes-list li:hover, .job-list li:hover, #popular-categories li a:hover {
  background-color: rgba(179, 194, 17, 0.05); }

/*# sourceMappingURL=style.css.map */
