$green-color:#26ae61;
$blue-color:#0c6aca;
$orange-color:#fa5b0f;
$navy-color:#495d7f;
$yellow-color:#ffb400;
$peach-color:#fcab55;
$beige-color:#bfa980;
$purple-color:#6957af;
$celadon-color:#74aea1;
$pink-color:#c71c77;
$red-color:#e32b2b;
$brown-color:#784e3d;
$cherry-color:#911938;
$cyan-color:#37b6bd;
$gray-color:#505050;
$olive-color:#b3c211;

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$green-color;}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$blue-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$blue-color;}.icon-box.rounded i{border-color:$blue-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(12,106,202,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(12,106,202,0.7);box-shadow:0px 1px 0px 0px rgba(12,106,202,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(12,106,202,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(12,106,202,0.7);box-shadow:0px 0px 0px 1px rgba(12,106,202,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(12,106,202,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(12,106,202,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$orange-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$orange-color;}.icon-box.rounded i{border-color:$orange-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(250,91,15,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(250,91,15,0.7);box-shadow:0px 1px 0px 0px rgba(250,91,15,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(250,91,15,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(250,91,15,0.7);box-shadow:0px 0px 0px 1px rgba(250,91,15,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(250,91,15,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(250,91,15,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$navy-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$navy-color;}.icon-box.rounded i{border-color:$navy-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(73,93,127,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(73,93,127,0.7);box-shadow:0px 1px 0px 0px rgba(73,93,127,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(73,93,127,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(73,93,127,0.7);box-shadow:0px 0px 0px 1px rgba(73,93,127,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(73,93,127,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(73,93,127,0.05);}


#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$yellow-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$yellow-color;}.icon-box.rounded i{border-color:$yellow-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(255,180,0,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(255,180,0,0.7);box-shadow:0px 1px 0px 0px rgba(255,180,0,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(255,180,0,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(255,180,0,0.7);box-shadow:0px 0px 0px 1px rgba(255,180,0,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(255,180,0,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(255,180,0,0.05);}

@charset "utf-8";
#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$peach-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$peach-color;}.icon-box.rounded i{border-color:$peach-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(252,171,85,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(252,171,85,0.7);box-shadow:0px 1px 0px 0px rgba(252,171,85,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(252,171,85,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(252,171,85,0.7);box-shadow:0px 0px 0px 1px rgba(252,171,85,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(252,171,85,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(252,171,85,0.05);}/* CSS Document */

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$beige-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$beige-color;}.icon-box.rounded i{border-color:$beige-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(191,169,128,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(191,169,128,0.7);box-shadow:0px 1px 0px 0px rgba(191,169,128,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(191,169,128,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(191,169,128,0.7);box-shadow:0px 0px 0px 1px rgba(191,169,128,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(191,169,128,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(191,169,128,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$purple-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$purple-color;}.icon-box.rounded i{border-color:$purple-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(105,87,175,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(105,87,175,0.7);box-shadow:0px 1px 0px 0px rgba(105,87,175,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(105,87,175,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(105,87,175,0.7);box-shadow:0px 0px 0px 1px rgba(105,87,175,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(105,87,175,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(105,87,175,0.05);}


#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$celadon-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$celadon-color;}.icon-box.rounded i{border-color:$celadon-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(116,174,161,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(116,174,161,0.7);box-shadow:0px 1px 0px 0px rgba(116,174,161,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(116,174,161,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(116,174,161,0.7);box-shadow:0px 0px 0px 1px rgba(116,174,161,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(116,174,161,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(116,174,161,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$pink-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$pink-color;}.icon-box.rounded i{border-color:$pink-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(199,28,119,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(199,28,119,0.7);box-shadow:0px 1px 0px 0px rgba(199,28,119,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(199,28,119,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(199,28,119,0.7);box-shadow:0px 0px 0px 1px rgba(199,28,119,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(199,28,119,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(199,28,119,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$red-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$red-color;}.icon-box.rounded i{border-color:$red-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(227,43,43,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(227,43,43,0.7);box-shadow:0px 1px 0px 0px rgba(227,43,43,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(227,43,43,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(227,43,43,0.7);box-shadow:0px 0px 0px 1px rgba(227,43,43,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(227,43,43,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(227,43,43,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$brown-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$brown-color;}.icon-box.rounded i{border-color:$brown-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(120,78,61,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(120,78,61,0.7);box-shadow:0px 1px 0px 0px rgba(120,78,61,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(120,78,61,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(120,78,61,0.7);box-shadow:0px 0px 0px 1px rgba(120,78,61,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(120,78,61,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(120,78,61,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$cherry-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$cherry-color;}.icon-box.rounded i{border-color:$cherry-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(145,25,56,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(145,25,56,0.7);box-shadow:0px 1px 0px 0px rgba(145,25,56,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(145,25,56,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(145,25,56,0.7);box-shadow:0px 0px 0px 1px rgba(145,25,56,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(145,25,56,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(145,25,56,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$cyan-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$cyan-color;}.icon-box.rounded i{border-color:$cyan-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(55,182,189,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(55,182,189,0.7);box-shadow:0px 1px 0px 0px rgba(55,182,189,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(55,182,189,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(55,182,189,0.7);box-shadow:0px 0px 0px 1px rgba(55,182,189,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(55,182,189,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(55,182,189,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$gray-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$gray-color;}.icon-box.rounded i{border-color:$gray-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(80,80,80,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(80,80,80,0.7);box-shadow:0px 1px 0px 0px rgba(80,80,80,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(80,80,80,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(80,80,80,0.7);box-shadow:0px 0px 0px 1px rgba(80,80,80,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(80,80,80,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(80,80,80,0.05);}

#current,.icon-box.rounded i:after,a.button.gray.app-link.opened,ul.float-right li a:hover,.menu ul li.sfHover a.sf-with-ul,.menu ul li a:hover,a.menu-trigger:hover,#jPanelMenu-menu li a:hover,.search-container button,.upload-btn,button,input[type="button"],input[type="submit"],a.button,.upload-btn:hover,#titlebar.photo-bg a.button.white:hover,a.button.dark:hover,#backtotop a:hover,.mfp-close:hover,.tabs-nav li.active a,.ui-accordion .ui-accordion-header-active:hover,.ui-accordion .ui-accordion-header-active,.highlight.color,.plan.color-2 .plan-price,.plan.color-2 a.button,.tp-leftarrow:hover,.tp-rightarrow:hover,.pagination ul li a.current-page,.pagination .current,.pagination ul li a:hover,.pagination-next-prev ul li a:hover,.infobox,.hover-icon,.comment-by a.reply:hover,.chosen-container .chosen-results li.highlighted,.chosen-container-multi .chosen-choices li.search-choice,.list-search button,.checkboxes input[type=checkbox]:checked+label:before{background-color:$olive-color;}a,table td.title a:hover,.icon-box.rounded i,table.manage-table td.action a:hover,#breadcrumbs ul li a:hover,#titlebar span.icons a:hover,.counter-box i,.counter,#popular-categories li a i,.list-1 li:before,.dropcap,.resume-titlebar span a:hover i,.resumes-list-content h4,.job-overview ul li i,.company-info span a:hover,.infobox a:hover,.meta-tags span a:hover,.widget-text h5 a:hover,.app-content .info span,.app-content .info ul li a:hover{color:$olive-color;}.icon-box.rounded i{border-color:$olive-color;}.resumes-list li a:before,.job-list li a:before,table.manage-table tr:before{-webkit-box-shadow:0px 1px 0px 0px rgba(179,194,17,0.7);-moz-box-shadow:0px 1px 0px 0px rgba(179,194,17,0.7);box-shadow:0px 1px 0px 0px rgba(179,194,17,0.7);}#popular-categories li a:before{-webkit-box-shadow:0px 0px 0px 1px rgba(179,194,17,0.7);-moz-box-shadow:0px 0px 0px 1px rgba(179,194,17,0.7);box-shadow:0px 0px 0px 1px rgba(179,194,17,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover{border-color:rgba(179,194,17,0.7);}table.manage-table tr:hover td,.resumes-list li:hover,.job-list li:hover,#popular-categories li a:hover{background-color:rgba(179,194,17,0.05);}
