/* ------------------------------------------------------------------- */
/* Custome #ff3434
---------------------------------------------------------------------- */
#current,
.icon-box.rounded i:after,
a.button.gray.app-link.opened,
ul.float-right li a:hover,
.menu ul li.sfHover a.sf-with-ul,
.menu ul li a:hover,
a.menu-trigger:hover,
#jPanelMenu-menu li a:hover,
.search-container button,
.upload-btn,
button,
input[type="button"],
input[type="submit"],
a.button,
.upload-btn:hover,
#titlebar.photo-bg a.button.white:hover,
a.button.dark:hover,
#backtotop a:hover,
.mfp-close:hover,
.tabs-nav li.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active,
.highlight.color,
.plan.color-2 .plan-price,
.plan.color-2 a.button,
.tp-leftarrow:hover,
.tp-rightarrow:hover,
.pagination ul li a.current-page,
.pagination .current,
.pagination ul li a:hover,
.pagination-next-prev ul li a:hover,
.infobox,
.hover-icon,
.comment-by a.reply:hover,
.chosen-container .chosen-results li.highlighted,
.chosen-container-multi .chosen-choices li.search-choice,
.list-search button,
.checkboxes input[type=checkbox]:checked + label:before,
.panel-heading.text-center.box-jobs,.th_bgcolor,
.btncustom,
.panel-heading.th_bgcolor,
.accordion-header.active-header,
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.list-group-item.row.hover:hover
{     
    background-color: #ff3434;
    
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{ background-color: #ff3434 !important; }

.panel-heading.panel-bg,
ui-menu .ui-menu-item a:hover,
table.manage-table.resumes th:first-child
{ background-color: #ff3434;
	color:white;
}
.th_fontcolor{
	color: #ff3434;
}
.th_bordercolor,
.wizard li.active span.round-tab{
	border-color: #ff3434 !important;
}

ul.mail-list li a{
    border-bottom:#ff3434;
}
ul.mail-list li a:hover{
    background-color:#ff3434;
}
ul.mail-list li span.mail-message-preview, 
ul.mail-list li span.mail-subject,
.tabbable-line > .nav-tabs > li > a:hover,
.tabbable-panel,
.tabbable-line > .nav-tabs > li.open, 
.tabbable-line > .nav-tabs > li:hover,
.tabbable-line > .nav-tabs > li.active,
.tabbable-line > .tab-content,
.menu_title,
.tabbable-line > .nav-tabs > li.active > a,
.panel-heading.title,
h4.color,
.footerbg3black a:hover,
#footer .neFooterLinks ul li a:hover
{
    color:#ff3434;
}
.panel-heading.title
{
	border-bottom: 1px solid;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
	border-bottom: 4px solid #ff3434;
	opacity:0.6;
}
.tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #ff3434;
}
.tabbable-line > .tab-content {
	background-color: #fff;
	border-top: 1px solid #eee;
}
#footer{
	border-top:5px solid #ff3434;
}
input.text-filed{
	border-bottom:1px solid #ff3434;
}
.bar:before, .bar:after,
.connecting-line,
.st-key{
	background: #ff3434;
}
.wizard li.active:after, 
.wizard li:after{
	border-bottom-color: #ff3434;
}
a.btn.btn-default{
    border-color: #ff3434;
    color:#ff3434;
}





a,
table td.title a:hover,
.icon-box.rounded i,
table.manage-table td.action a:hover,
#breadcrumbs ul li a:hover,
#titlebar span.icons a:hover,
.counter-box i,
.counter,
#popular-categories li a i,
.list-1 li:before,
.dropcap,
.resume-titlebar span a:hover i,
.resumes-list-content h4,
.job-overview ul li i,
.company-info span a:hover,
.infobox a:hover,
.meta-tags span a:hover,
.widget-text h5 a:hover,
.app-content .info span ,
.app-content .info ul li a:hover,
.footer-links li a:hover,
.wizard li.active span.round-tab i,
h5.text-bg
{ color: #ff3434; }

/* added by jay for button on index */
#popular-categories li button i
{ color: #ff3434; }
/* added by jay for button on index end */

.icon-box.rounded i,
.one-third.column.well.box,
table.manage-table tr td{
	border-color:#ff3434;
}



.resumes-list li a:before,
.job-list li a:before,
table.manage-table tr:before {
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,128,0,0.7);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,128,0,0.7);
	box-shadow: 0px 1px 0px 0px rgba(0,128,0,0.7);
}

#popular-categories li a:before {
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
	box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
}

/* added by jay for button on index */
#popular-categories li button:before {
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
	box-shadow: 0px 0px 0px 1px rgba(0,128,0,0.7);
}
/* added by jay for button on index end */

table.manage-table tr:hover td,
.resumes-list li:hover,
.job-list li:hover { border-color: rgba(0,128,0,0.7); }

table.manage-table tr:hover td,
.resumes-list li:hover,
.job-list li:hover,
#popular-categories li a:hover { background-color: rgba(0,128,0,0.05); }

/* added by jay for button on index */
#popular-categories li button:hover { background-color: rgba(0,128,0,0.05); }
/* added by jay for button on index end */


a.btn.btn-default:hover{
    border-color: #ff3434;
    color:#ff3434;
}